<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmacion</title>
</head>
<body>
    <div>
        <h1>Configuracion exitosa</h1>

        <p>El sistema se ha configurado exitosamente</p>
        <p><strong>nombre usuario: </strong>admin</p>
        

        <h4>Importante, datos super-user! ANOTARLO</h4>

        <p>NOMBRE DE USUARIO: {{superuser}} </p>
        <p>CONTRASEÑA:{{password}} </p>
    </div>
    <div>
        <a href="{% url 'landing_home'%}"> CONTINUAR</a>
    </div>
</body>
</html>