{%extends 'core_template/base_generic.html' %}
{%load static%}
{%block css%}

<link href="{% static 'css/proveedores.css' %}" rel="stylesheet" type="text/css" >

{%endblock%}


{%block content%}

{% if  HAS_ACCESS %}



<div class="container">
<div class="container  " id="container_principal">
   

    <div class="row">
        <div class="col-12 text-center">
            <h5>Datos usuario</h5>
        </div>
        <div class="col-4">
            <p>Nombre: {{request.user.first_name}}</p>
            <p>Apellido: {{request.user.last_name}}</p>
            <p>Email: {{request.user.email}}</p>            
        </div>

        <div class="col-4">
            
            

            <p>Cuenta Facturación:{%if request.user.is_staff%} <a href="{%url 'proveedor_detalle' request.user.perfil.cuenta.id %}">{{request.user.perfil.cuenta.name}}</a>{%else%} {{request.user.perfil.cuenta.name}}{%endif%}</p>
            <p>Domicilio: {{request.user.perfil.cuenta.domicilio}}</p>
            <p>Telefono: {{request.user.perfil.cuenta.telefono}}</p>
            <p>DNI/CIF: {{request.user.perfil.cuenta.nro_identificacion}}</p>
            <p>Observaciones: {{request.user.perfil.cuenta.observaciones}}</p>
            
        </div>
    </div>


    <div class="row ">
        <h5>Domicilios de entrega

        {%if perms.distribuidora_app.add_entregamodel%}
            
            <a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </a>
                            
        </h5>
        {%endif%}
        <div class="col col-12 tabla_proveedores " >
            <div >
                <table class="table table-striped " id="productos_pedido">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Domicilio
                            </th>                 
                            <th>
                                Telefono de contacto:
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>Acciones</th>
                 
                            
                        </tr>
                    </thead>
                    <tbody id="contenido"> 
                    {%if perms.distribuidora_app.view_entregamodel%}
                        {%if domicilios %}
                                {%for domicilio in domicilios%}
                                    {%if docimilio_editable == domicilio.id%}
                                    <form action="" method="POST">{%csrf_token%}

                                        <tr>
                                            <td>{{form_edit_domicilio.name}}</td>
                                            <td>{{form_edit_domicilio.address}}</td>
                                            <td>{{form_edit_domicilio.phone}}</td>
                                            <td>{{form_edit_domicilio.state}}</td>
                                            
                                            <td>
                                                {%if perms.distribuidora_app.change_entregamodel%}
                                                
                                                <button type="submit"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill ver" viewBox="0 0 16 16">
                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                    </svg>
                                                </button>
                                                {%endif%}
                                            </td>
                                        </tr>
                                        
                                    </form>

                                    {%else%} <!-- filas sin edicion-->
                                    <tr>
                                        <td>{{domicilio.name}}</td>
                                        <td>{{domicilio.address}}</td>
                                        <td>{{domicilio.phone}}</td>
                                        {%if domicilio.state%}
                                            <td>Activo</td>
                                        {%else%}
                                            <td>Inactivo</td>
                                        {%endif%}
                                        <td>
                                        {%if perms.distribuidora_app.change_entregamodel%}
                                            <a href="{%url 'perfil_edit_dom' domicilio.id %}"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil ver" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                              </svg>
                                            </a>
                                        {%endif%}
                                        </td>
                                    </tr>
                                    {%endif%}
                                {%endfor%}
                              
                        {%endif%}
                    {%endif%}

                    </tbody>
                </table>
            </div>
            
        
        </div>
        

    </div>


    
    
{%if form_domicilios %}

 <!-- Modal CREACION DOMICILIO ENTREGA -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="" method="post">{%csrf_token%}
        <div class="modal-body">
                <table>
                    {{form_domicilios.as_table}}
                </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
            <button type="submit"  class="btn btn-primary" value=""> Confirmar </button>
            
        </div>
    </form>
    </div>
</div>
</div>

{%endif%}<!-- if domicilios-->



{%endif%}



{% block js%}


{% endblock %}



{%endblock%}