
{%extends 'core_template/base_generic.html' %}
{%load static%}
{%block css%}

<link href="{% static 'css/proveedores.css' %}" rel="stylesheet" type="text/css" >

{%endblock%}


{%block content%}

{% if  HAS_ACCESS %}


<div class="container  ">

    <div class="row">
        {%if request.user.is_staff%}
        <a href="{%url 'informes' %}">Informe de ventas</a>
        {%endif%}
    </div>

    <div class="row ">
        <h5>Pedidos:</h5>
        <div class="col col-12 tabla_proveedores ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>
                            Fecha solicitado
                        </th>
                        <th>
                            Nro.Pedido
                        </th>
                        <th>
                            Estado
                        </th>
                        {% if request.user.is_staff %}
                        <th>
                            Proveedor
                        </th>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Tipo movimiento
                        </th>
                        {%endif%}
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%if pedidos_list%}
                        {%for pedido in pedidos_list%}
                    <tr>
                        <td>
                            {{pedido.created_date|date:"d/m/Y"}}
                            
                        </td>
                        <td>
                            {{pedido.id}}
                        </td>
                        <td>
                            {{pedido.estado}}
                        </td>
                        {% if request.user.is_staff %}
                        <td>
                            {{pedido.cuenta}}
                        </td>
                        <td>
                            {{pedido.usuario}}
                        </td>
                        <td>
                            {{pedido.tipo_pedido}}
                        </td>
                        {%endif%} 
                        <td>
                            <a href="{%url 'pedidos_detalle' pedido.id  %}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye ver" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
              </table>

        </div>
        
    </div>
    

<!-- NUEVO PEDIDO -->

<a href="{%url 'pedido_create'%}" class="btn btn-secondary">Nuevo Pedido</a>

</div>



{%endif%}


{%endblock%}