
{%extends 'core_template/base_generic.html' %}
{%load static%}
{%block css%}

<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" >

{%endblock%}


{%block content%}

{% if  HAS_ACCESS %}


<div class="container ">
    <div class="row centrado">
        <div class="col col-4 dashboard ">
            <p><strong>Pedidos Solicitados</strong> </p>
            <h1>30</h1>
        </div>
        <div class="col col-4 dashboard"> 
            <p><strong>Pedidos En Preparacion</strong> </p>
            <h1>30</h1>
        </div>
        <div class="col col-4 dashboard">
            <p><strong>Pedidos En Reparto</strong> </p>
            <h1>30</h1>
        </div>
    </div>
    <div class="row">
  
       
        {%if perms.notificacion.view_notificacionmodel%}
        {%if notificaciones%}
       

        <div class="col col-12 notificaciones-dashboard tabla_notificaciones">Notificaciones
            <table class="table table-striped " >
                <thead>
                    <tr>
                        <th>
                            Asunto
                        </th>
                        <th>
                            Descripcion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for notificacion in notificaciones%}
                    <tr>
                        <td>
                            {{notificacion.asunto}}
                        </td>
                        <td>
                            {{notificacion.descripcion}}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
              </table>
        </div>

        {%endif%}
        {%endif%}
    </div>

</div>


{%endif%}


{%endblock%}

