<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'home-app'%}">Distribuidora</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if perms.distribuidora_app.view_pedidomodel %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/pedidos/'  or request.path == '/pedidos_create/'%} active {% endif %}" aria-current="page" href="{%url 'pedidos'%}">Pedidos</a>
              </li>
              {%endif%}
              {% if perms.distribuidora_app.view_productomodel %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/productos/' %} active {% endif %} " aria-current="page" href="{%url 'productos'%}">Productos</a>
              </li>
              {%endif%}
              
              <li class="nav-item">
                <a class="nav-link" href="#">Facturas</a>        
              </li>
              
              <!-- Opciones solo para empresa-->
              {% if request.user.is_staff %}
              {% if perms.distribuidora_app.view_almacenstockmodel %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/stock/' %} active {% endif %} " href="{%url 'stock'%}">Stock</a>
              </li>
              {%endif%}
              {% if perms.distribuidora_app.view_cuentamodel %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/proveedores/' %} active {% endif %}" href="{%url 'proveedores'%}">Proveedores</a>           
              </li>
              {%endif%}
              {%endif%}
            </ul>
            
         
                <span id='cant_notificaciones'class=" nav-item navbar-text">
              
                </span>
        
            <a href="{%url 'home-app'%}">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="campana" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              </svg>
            </a>


            <!-- Default dropstart button -->
              <div class="btn-group dropstart">
                <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.user|title}}
                </button>
                <ul class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <li><a class="dropdown-item" href="">Opciones</a></li>
                  <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
            
                </ul>
              </div>




          </div>
        </div>
      </nav>
</header>
