<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'home-app'%}">Distribuidora</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if perms.distribuidora_app.view_pedidomodel %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/pedidos/'  or request.path == '/pedidos_create/'%} active {% endif %}" aria-current="page" href="{%url 'pedidos'%}">Pedidos</a>
              </li>
              {%endif%}
              {% if perms.distribuidora_app.view_productomodel %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/productos/' %} active {% endif %} " aria-current="page" href="{%url 'productos'%}">Productos</a>
              </li>
              {%endif%}
              
              <li class="nav-item">
                <a class="nav-link" href="#">Facturas</a>        
              </li>
              
              <!-- Opciones solo para empresa-->
              {% if request.user.is_staff %}
              {% if perms.distribuidora_app.view_almacenmodel %}
              <li class="nav-item">
                <a class="nav-link" href="#">Stock</a>
              </li>
              {%endif%}
              {% if perms.distribuidora_app.view_proveedormodel %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/proveedores/' %} active {% endif %}" href="{%url 'proveedores'%}">Proveedores</a>           
              </li>
              {%endif%}
              {%endif%}
            </ul>
            <span class="navbar-text">
                {{request.user}}! 
            </span>
            <span><a class="nav-link" href="{%url 'logout'%}">&nbspLogout</a></span>
          </div>
        </div>
      </nav>
</header>
