
{%extends 'core_template/base_generic.html' %}
{%load static%}
{%block css%}

<link href="{% static 'css/proveedores_detalle.css' %}" rel="stylesheet" type="text/css" >

{%endblock%}


{%block content%}

{% if  HAS_ACCESS %}

    {% if  proveedor %}

<div class="container  ">
    <div class="row">
        <h5>Proveedor: {{proveedor.name|upper}}</h5>
        <div class="col col-lg-4 datos-proveedor position-relative ">
            <h3>Ficha:</h3>
            <div class=" ">
                
                    <div class="col-3">CIF: {{proveedor.nro_identificacion}}</div>
                    <div class="col-3">Telefono: {{proveedor.telefono}}</div>
                    <div class="col-3">Domicilio: {{proveedor.domicilio}}</div> 
                    <div class="col-3">Notas: {{proveedor.observaciones}}</div>       
            </div>
            <div class="botones position-absolute fixed-bottom ">   
                {%if form%}
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Editar  </button>
                {%endif%}
               
                {% if perms.distribuidora_app.delete_cuentamodel%}
                <a href="{%url 'proveedor_elimina' proveedor.id%}" class='btn btn-danger'>Eliminar</a>
                {%endif%}
            </div>
            
        </div>
        
        <div class=" col col-lg-8 datos-pedidos ">
            <h3>Pedidos Realizados: 
                <a href="{%url 'pedido_create_pk' proveedor.id%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                  </svg>
                </a>
            </h3>
            <div class="tabla-pedidos ">
                <table class="table table-striped "> 
                    <thead>
                        <tr>
                            <th>
                                Nro.Pedido
                            </th>
                            <th>
                                Estado
                            </th>
                           
                            <th>
                                Proveedor
                            </th>
                            <th>
                                Usuario
                            </th>
                       
                            <th>
                                Tipo movimiento
                            </th>
                            <th>
    
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if pedidos_proveedor%}
                            {%for pedido in pedidos_proveedor%}
                        <tr>
                            <td>
                                {{pedido.id}}
                            </td>
                            <td>
                                {{pedido.estado}}
                            </td>
                            <td>
                                {{pedido.cuenta}}
                            </td>
                            <td>
                                {{pedido.usuario}}
                            </td>
                            <td>
                                {{pedido.tipo_pedido}}
                            </td>
                            <td>
                                <a href="{%url 'pedidos_detalle' pedido.id  %}">
    
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye ver" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </a>
                            </td>

                        </tr>
                            {%endfor%}
                        {%endif%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Productos</h5>
            
        </div>
    </div>

</div>

<!-- BOTON MODAL -->

    

{%if form%}
      <!-- Modal CREACION PROVEEDOR -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuevo Proveedor</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">{%csrf_token%}
                <div class="modal-body">
                        <table>
                            {{form.as_table}}                   
                        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
                    <button type="submit"  class="btn btn-primary" value=""> Confirma </button>
                    
                </div>
            </form>
          </div>
        </div>
      </div>
    
{%endif%}



    {%endif%}


{%endif%}


{%endblock%}