
{%extends 'core_template/base_generic.html' %}
{%load static%}
{%block css%}

<link href="{% static 'css/proveedores.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/stock.css' %}" rel="stylesheet" type="text/css" >

{%endblock%}


{%block content%}

{% if  HAS_ACCESS %}


<div class="container  ">
    <div class="row ">
        <h5>Productos puestos a la venta:</h5>
        
        <div class="col col-12 tabla_proveedores ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Costo
                        </th>
                        <th>
                            Precio Venta
                        </th>
                        <th>
                            Cantidad en venta
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {%if productos_en_venta %}
                        {%for producto in productos_en_venta%}
                    <tr>
                        <td>
                            {{producto.producto}}
                        </td>
                        <td>
                            {{producto.producto.precio}}
                        </td>
                        <td>
                            {{producto.costoRemarcado}}
                        </td>
                        <td>
                            {{producto.cantidad_venta}}
                        </td>
            
                    </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
              </table>

        </div>


        <!-- Detalle diarios-->
        <h6>Stock NO a la venta:</h6>
        <div class="col col-12 tabla_proveedores ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%if productos_en_almacenados%}
                        {%for producto in productos_en_almacenados%}
                    <tr>
                        <td>
                            {{producto.0.producto}}
                        </td>
                        <td>
                            {{producto.0.cantidad}}
                        </td>
                        <td>
                         
                        </td>
                        <td>
                   
                        </td>
                        <td>
                      
                        </td>
                    </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
              </table>

        </div>
        
    </div>
    


{%endif%}


{%endblock%}