
{%extends 'core_template/base_generic.html' %}
{%load static%}
{%block css%}

<link href="{% static 'css/proveedores.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/stock.css' %}" rel="stylesheet" type="text/css" >

{%endblock%}


{%block content%}

{% if  HAS_ACCESS %}


<div class="container  ">
    <div class="row ">
        <h5>Control Stock:</h5>
        <!-- traigo almacenes-->

        <p>Almacen: <a href="{%url 'stock'%}" class="{% if request.path == '/stock/' %} resaltado {% endif %}">Todos</a>{%for almacen in almacenList%} / <a href="{%url 'stock_almacen' almacen.id%}" class="{% if request.path == '/stock/{{almacen.id}}' %} resaltado {% endif %}">{{almacen.name}}</a> {%endfor%}</p>

        <h6>Detalle Simplificado por producto:</h6>

        <div class="col col-12 tabla_proveedores ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad total en stock
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {%if totales_producto%}
                        {%for producto in totales_producto%}
                    <tr>
                        <td>
                            {{producto.producto}}
                        </td>
                        <td>
                            {{producto.cantidad}}
                        </td>
            
                    </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
              </table>

        </div>


        <!-- Detalle diarios-->
        <h6>Detalle diario:</h6>
        <div class="col col-12 tabla_proveedores ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Nro.Pedido
                        </th>
                        <th>
                            Movimiento Generado
                        </th>
                        <th>
                            Fecha Movimiento
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%if list_stock%}
                        {%for movimiento in list_stock%}
                    <tr>
                        <td>
                            {{movimiento.cantidad}}
                        </td>
                        <td>
                            {{movimiento.producto}}
                        </td>
                        <td>
                            {{movimiento.nro_pedido}}
                        </td>
                        <td>
                            {{movimiento.movimiento}}
                        </td>
                        <td>
                            {{movimiento.created_date|date:"d/m/Y"}}
                        </td>
                    </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
              </table>

        </div>
        
    </div>
    
    {%if form%}
<!-- BOTON MODAL -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nuevo  </button>
    


</div>

      <!-- Modal CREACION PROVEEDOR -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuevo Proveedor</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">{%csrf_token%}
                <div class="modal-body">
                        <table>
                            {{form.as_table}}                   
                        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
                    <button type="submit"  class="btn btn-primary" value=""> Confirma </button>
                    
                </div>
            </form>
          </div>
        </div>
      </div>
    
      {%endif%}

{%endif%}


{%endblock%}